@model IEnumerable<WebGrids.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string productName = Request["productName"];
    var products = WebGrids.Models.Data.SearchProduct(productName);
    var grid = new WebGrid(products, defaultSort: "Name", rowsPerPage: 10);
}

<br />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            Product Name:
            <input type="text" name="productName" value="@Request["productName"]" />
            <input type="submit" value="Search" />
        </div>
    </div>
}

<div>
    @grid.GetHtml(
        mode: WebGridPagerModes.All,

        tableStyle: "table table-inverse",
        headerStyle: "thead-inverse",

        columns: grid.Columns(
            grid.Column("ID"),
            grid.Column("Name"),
            grid.Column("Price"),
            grid.Column("Count")
            )
        )
</div>

<input id="openWithExcel" type="button" value="Open with Excel" />
<div id="result"></div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('tbody tr').on('click', function () {
                location.href = '/Product/Details/' + $(this).find('td:first').text();
            }).hover(function () {
                $(this).toggleClass('mousehover');
            });
        });

        $(function () {
            $("#openWithExcel").on("click", function () {
                $('<iframe src ="/Product/OpenWithExcel"></iframe>').appendTo('#result').hide();
            });
        });
    </script>
}