@model IEnumerable<WebGrids.Models.Product>

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var grid = new WebGrid(Model);
}

<div>
    @grid.GetHtml(tableStyle: "table table-striped table-inverse", headerStyle: "thead-inverse")
</div>